
.button{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    padding: 15px 20px;
    height: 25px;
    font-size: 14px;
    background: white;
    color: black;
    border-radius: 3px;
    text-decoration: none;
}

.button:hover{
    cursor: pointer;
}

.dark{
    .button{
        box-shadow: 2px 2px 6px -4px $Very-Dark-Blue-plus;
    }
}

.white{
    .button{
        box-shadow: 2px 2px 6px -4px $Dark-Gray;
    }
}