
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8vh;
    padding: 10px 40px 10px 40px;

    .whereWorld{
        font-size: 20px;
    }
    
    .icon-moon{
        display: flex;

        .fa-sharp{
            font-size: 20px;
            margin-right: 10px;
         }
     
         .fa-sharp:hover{
             cursor: pointer;
         }
     
         .whereWorld{
             font-size: 20px;
        }
     
    }
}


.dark{
    .header{
        background-color: $Dark-Blue;
        color: $White;
    }
}

.white{
    .header{
        background-color: $White;
        color: $Very-Dark-Blue-plus;
    }
}