
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-height: 65px;
    padding: 10px 40px 10px 40px;
    color: white;
    background: hsl(210deg 21.82% 21.57%);

    .whereWorld{
        font-size: 20px;
    }
    
    .icon-moon{
        display: flex;

        .fa-sharp{
            font-size: 20px;
            margin-right: 10px;
         }
     
         .fa-sharp:hover{
             cursor: pointer;
         }
     
         .whereWorld{
             font-size: 20px;
        }
     
    }

    

}