

.input{
    width: 250px;
    height: 30px;
    border: none;
    padding: 10px 10px 10px 30px;
    color: hsl(0, 0%, 100%);
    background: hsl(210deg 21.82% 21.57%);
}

.fa-magnifying-glass{
    position: absolute;
    font-size: 14px;
    top: 80px;
    left: 35px;
    color: white;
}

.input::placeholder{
    color: hsl(0, 0%, 98%);
    font-size: 12px;
}

.input:focus{
   outline: none;
}