

.input{
    width: 250px;
    height: 30px;
    border: none;
    padding: 10px 10px 10px 30px;
}

.fa-magnifying-glass{
    position: absolute;
    font-size: 14px;
    top: 86px;
    left: 35px;
}

.input::placeholder{
    color: hsl(0, 0%, 98%);
    font-size: 12px;
}

.input:focus{
   outline: none;
}

.dark{
    #input{
        background: $Dark-Blue;
    }
}
.dark input::placeholder {
    color: $White; 
}

.white{
    #input{
        background: $White;
        color: $Very-Dark-Blue-plus;
    }
}
.white input::placeholder {
    color: $Very-Dark-Blue-plus;
}

.dark{
    .fa-magnifying-glass{
        color: $White;
    }
}

.white{
    .fa-magnifying-glass{
        color: black;
    }
}


