
.item-flag-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    text-decoration: none;
    border-radius: 5px;

    .image-flag{
        width: 100%;
        height: 110px;
        border-radius: 5px 5px 0px 0px;
    }

    .flag-dates-container{
        height: 100%;
        padding: 20px;

        .name{
            margin-bottom: 5px;
            font-size: 18px;
            color: white;
            font-weight: bold;
        }

        span{
            display: flex;
            font-size: 14px;
            gap: 5px;
            text-decoration: none;

            .date-text{
                color: hsl(0, 0%, 52%);
                text-decoration: none;
            }
        }

        
    }
}

.item-flag-container:hover{
    cursor: pointer;
}

.dark{
    .item-flag-container{
        background: $Dark-Blue;
        box-shadow: 8px 8px 12px -8px black;

        #spanItenFlag{
            color: $White;
        }
    }
}

.white{
    .item-flag-container{
        background: $White;
        box-shadow: 8px 8px 12px -8px $Dark-Gray;

        #spanItenFlag{
            color: $Very-Dark-Blue;
        }
    }
}