

.selector{
    font-size: 12px;
    width: 150px;
    border: none;
    padding: 5px;
}

.selector:focus{
    outline: none;
}

.dark{
    .selector{
        background: $Dark-Blue;
        color: $White;
    }
}

.white{
    .selector{
        background: $White;
        color: $Very-Dark-Blue-plus;
    }
}