

.selector{
    font-size: 14px;
    width: 150px;
    border: none;
    padding: 5px 10px 5px 5px;
    border-radius: 5px;
}

.selector:focus{
    outline: none;
}

.selector:hover{
    cursor: pointer;
}

.dark{
    .selector{
        background: $Dark-Blue;
        color: $White;
        box-shadow: 8px 8px 10px -12px $Very-Dark-Blue-plus;
    }
}

.white{
    .selector{
        background: $White;
        color: $Very-Dark-Blue-plus;
        box-shadow: 8px 8px 10px -12px $Dark-Gray;
    }
}