
.containerCenter{
    display: flex;
    flex-direction: column;
    padding: 25px 50px 20px 28px;

    .container-input{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30px;
    }

    .container-flags{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 0fr));
        gap: 30px;
        color: white;
        height: 85%;
        width: 100%;
        margin-top: 20px;
        
    
        .divFlags{
            height: 50px;
            width: 50px;
            background: black;
        }
    }
    
}

.dark{
    .containerCenter{
        background: $Very-Dark-Blue;
    }
}

.white{
    .containerCenter{
        background: $Very-Light-Gray;
    }
}