* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


.mainContainer{
    display: flex;
    flex-direction: column;
    background: hsl(204.55deg 25.58% 16.86%);
}