.layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: hsl(207, 26%, 17%);
  
    .layout_header {
      width: 100%;
    }

    .layout_main-content{

      .layot-main-container{
        display: flex;
        height: 90vh;
        width: 100vw;
        padding: 60px;

        .fa-arrow-left{
          position: absolute;
          top: 114px;
          left: 76px;
          font-size: 12px;
        }

        .button-container{
          height: 25px;
        }
        
      }
      
    }

  }