.layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  
    .layout_header {
      width: 100%;
    }

      .layot-main-container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 92vh;
        width: 100vw;
        padding: 60px;

        .information-flag-container{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 300px;

          .contain-information-flag-container{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .information-flags-container-left-and-right{
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;

              .Tittle{
                margin-left: 50px;
                color: white;
              }

              @media screen and (max-width: 375px){
                .Tittle{
                  margin: 0px;
                }
              }

              .left-and-right-container{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

                .information-dates{
                  display: flex;
                  font-size: 14px;
                  width: 300px;
                  gap: 5px;
                  color: white;
                  text-decoration: none;
                  

                  p{
                    color: hsl(0, 0%, 52%);
                    text-decoration: none;
                  }
                }

                @media screen and (max-width: 375px){
                  .information-dates{
                    margin-bottom: 6px;
                  }
                }

                .information-flags-left-container{
                  width: 100%;
                  height: 100%;
                  padding: 10px 50px 10px 50px;
                }

                @media screen and (max-width: 375px){
                  .information-flags-left-container{
                    padding: 0px;
                  }
                }
      
                .information-flags-right-container{
                  width: 100%;
                  height: 100%;
                  padding: 30px;
                }

                @media screen and (max-width: 375px){
                  .information-flags-right-container{
                    padding: 0px;
                  }
                }
              }

              @media screen and (max-width: 375px){
                .left-and-right-container{
                  flex-direction: column;
                }
              }

              .bottom-container{
                display: flex;
                width: 100%;
                padding-left: 50px;

                .link-button{
                  text-decoration: none;
                }
                

                .information-dates{
                  display: flex;
                  font-size: 14px;
                  gap: 5px;
                  color: white;
                  text-decoration: none;
                  

                  p{
                    color: hsl(0, 0%, 52%);
                    text-decoration: none;
                  }
                }
              }

              @media screen and (max-width: 375px){
                .bottom-container{ 
                  padding: 10px 0px 0px 0px;
                }
              }
            }

            .image-inContainer{
              height: 300px;
              max-width: 500px;
            }

            @media screen and (max-width: 375px){
              .image-inContainer{
                height: 180px;
                margin-bottom: 10px;
              }
            }
          }

          @media screen and (max-width: 375px){
            .contain-information-flag-container{
              flex-direction: column;
              align-items: normal;
            }
          }
        }

        

        .button-container{
          position: absolute;
          left: 40px;
          top: 40px;
          

          .icon-ArrowLeft{
            margin-right: 5px;
            font-size: 12px;
          }
        } 

        @media screen and (max-width: 375px){
          .button-container{
            top: 30px;
          }
        }
      }

      @media screen and (max-width: 375px){
        .layot-main-container{
          align-items: normal;
          padding-top: 82px;
        }
      }
}


.dark{
  .layot-main-container{
    background: $Very-Dark-Blue;
  }

  #imageInContainer{
    box-shadow: 8px 8px 10px -12px $Very-Dark-Blue-plus;
  }
  
}

.white{
  .layot-main-container{
    background: $Very-Light-Gray;

    #informationTitles{
      color: $Very-Dark-Blue-plus;
    }
  }

  #imageInContainer{
    box-shadow: 8px 8px 10px -12px $Dark-Gray;
  }
}  
