.layout {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
  
    .layout_header {
      width: 100%;
    }

      .layot-main-container{
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 90vh;
        width: 100vw;
        padding: 60px;

        .information-flag-container{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 300px;

          .contain-information-flag-container{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .information-flags-container-left-and-right{
              display: flex;
              flex-direction: column;
              width: 100%;
              height: 100%;

              .Tittle{
                margin-left: 50px;
                color: white;
              }

              .left-and-right-container{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

                .information-dates{
                  display: flex;
                  font-size: 14px;
                  width: 260px;
                  gap: 5px;
                  color: white;
                  text-decoration: none;
                  

                  p{
                    color: hsl(0, 0%, 52%);
                    text-decoration: none;
                  }
                }

                .information-flags-left-container{
                  width: 100%;
                  height: 100%;
                  padding: 10px 50px 10px 50px;
                }
      
                .information-flags-right-container{
                  width: 100%;
                  height: 100%;
                  padding: 30px;
                }
              }

              .bottom-container{
                display: flex;
                width: 100%;
                padding-left: 50px;

                .link-button{
                  text-decoration: none;
                }
                

                .information-dates{
                  display: flex;
                  font-size: 14px;
                  gap: 5px;
                  color: white;
                  text-decoration: none;
                  

                  p{
                    color: hsl(0, 0%, 52%);
                    text-decoration: none;
                  }
                }
              }
            }

            .image-inContainer{
              height: 300px;
              max-width: 500px;
            }
          }
        }

        

        .button-container{
          position: absolute;
          left: 40px;
          top: 40px;
          

          .icon-ArrowLeft{
            margin-right: 5px;
            font-size: 12px;
          }
        } 
      }
}


.dark{
  .layot-main-container{
    background: $Very-Dark-Blue;
    
  }
  
}

.white{
  .layot-main-container{
    background: $Very-Light-Gray;

    #informationTitles{
      color: $Very-Dark-Blue-plus;
    }
  }
}  
